@import url("https://fonts.googleapis.com/css?family=Anton");
@import url('https://fonts.googleapis.com/css2?family=Comforter');

body, div, p {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Courier New', Courier, monospace;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: green;
	font-weight: bold;	
}

a:hover {
	color:red;
}

/* a:visited {
	color: green;
} */

article span {
	transition: all 5s;
}

.mini-text {
	font-size: 3px;	
}

.black-bg {
	background-color: black;
}

.black-bg-50 {
	background-color: rgba(0, 0, 0, 50%);
}

.white-bg-50 {
	background-color: rgba(255, 255, 255, 50%);
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.red:hover {
	color: #660000;
}

.red-dark {
	color: #660000;
}

.green {
	color: green;
}

.sign {
	font-family: 'Comforter', cursive;
	color: darkblue;
}

.header {
	padding-top: 20vh;
	padding-bottom: 24px;
	color: white;
	font-size: 48px;
	font-weight: bold;
}

div .red {
	color: red;	
}

.wrap {
	/* position: relative; */
	width: 800px;
	max-width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}

.godmode {
	background-color: Green;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	position:absolute;
	width: 100%;
}

.textinput {
	width:50%;
}

.codeinput {
	line-height: 36px;
	font-size: 24px;
	border-radius: 18px;
	margin-top: 9px;
	margin-bottom: 9px;
	padding-left: 18px;
	padding-right: 18px;
}

.hidden {
	background-color: #000;
	border: #000;
	margin-top: 150px;
	width: 100%;
}

.bottom{
	transform: translate(-50%);
	position: absolute;
	bottom: 0;
	left: 50%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

div .center img {
	max-width: 100%;
}

.middle {
	padding-top: 45vh;
	width: 40%;
	min-width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.middle .textinput {
	width: 75%;
}

.hint {
	box-sizing: border-box;
	padding-bottom: 9px;
	border-radius: 18px;
	/* margin: 18px; */
	margin-top:0;
	font-size: 20px;
	width: 100%;
}

#fake {
	display: none;
}

.hint p {
	padding: 18px;
	padding-bottom: 0;
}

.hint h2 {
	padding: 18px;
	padding-bottom: 0;
	margin: 0;	
} 

.tiny {
	width:auto;
	height:3px;
}

p.tiny_text {
	padding-top: 0;
	font-size: 7px;
	line-height: 10px;
}

.t {
	color:#000;
	/* text-align:justify;
	text-indent:2em; */
	margin:0em auto;
	position:relative
}

.t .par {
	display:block;
	text-indent:0em;
	margin:0em
}
.t .par .fi {
	width:2em;
	height:1em;
	float:left;
	clear:left;
	display:block;
	position:relative
}

table {
	margin-left:auto;
	margin-right:auto;
	padding: 9px;
	width: 100%;
	max-width: 100%;
}
th {
	padding-top: 18px;
	padding-bottom: 18px;
}

.bedlam {
	background-image: url('../images/bedlam.jpg');
}

.bedlam2 {
	background-image: url('../images/bedlam2.jpg');
	background-position: 12% center;
}

.paper {
	margin-top: 1em;
	background-color: rgba(255, 255, 255, 75%);
}

.bedlam3 {
	background-image: url('../images/bedlam3.jpg');
	background-position: 75% center;
}

.rubashka {
	background-image: url('../images/rubashka.jpg');
	background-position: right top;
}

.rubashkadoc {
	background-image: url('../images/rubashkadoc.jpg');
}

.dogs {
	background-image: url('../images/dogs.jpg');
	background-position: center top;
}

.dogs1 {
	background-image: url('../images/dogs1.jpg');
}

.dogs2 {
	background-image: url('../images/dogs2.jpg');
}

.dogs3 {
	background-image: url('../images/dogs2.jpg');
}

.dogs3:hover {
	background-image: url('../images/dogs3.jpg');
	-webkit-transition: background-image 0.5s ease;
	transition: background-image 0.5s ease;
	transition: background 0.5s ease;
}

.sanitar img {
	height: 0vh;
	width: auto;
	max-width: 100%;
	opacity: 0;
	animation: ani 5s forwards;
}

.sanitar p {
	opacity: 0;
	visibility: hidden;
	font-weight: bolder;
	font-size: 24px;
	padding-top: 24px;
}

.sanitar:hover p {
	visibility: visible;
	opacity: 1;
}

@keyframes ani {
	0% {opacity: 0; height: 0vh;}
	100% {opacity: 1; height: 75vh;}
}

.sortir {
	background-image: url('../images/sortir.jpg');
}

.lobotomia {
	background-image: url('../images/lobotomia.jpg');
}

.lobotomia2 {
	background-image: url('../images/lobotomia2.jpg');
}

.oracle {
	background-image: url('../images/oracle.jpg');	
}

.matrix {
	background-image: url('../images/deep.gif');	
}

.matrix-doc {
	background-image: url('../images/erudit.jpg');	
}

.tv1 {
	background-image: url('../images/tv-old-1.jpg');
}

.tv2 {
	background-image: url('../images/tv-old-2.jpg');
}

body.oracle {
	background-color: #2e282a;
}

.container {
	font-family: "Anton", sans-serif;
	/* position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
	padding-top: 10vh;
	text-align: center;
	transform: rotateX(-90deg);
	transform-style: preserve-3d;
}

.numbers {
  height: 200px;
  width: 50px;
  padding: 0;
  position: relative;
  margin: auto;
  list-style-type: none;
  transform-style: preserve-3d;
  transform: rotateY(90deg);
  transition: all ease 0.5s;
  display: inline-block;
}
.numbers li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  width: 0;
  transform-style: preserve-3d;
  transform-origin: bottom;
  box-sizing: border-box;
}
.numbers li span {
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  font-size: 5rem;
  line-height: 50px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateX(-50%) translateY(-40px) rotateX(90deg) rotate(90deg);
}
.numbers li:nth-child(1) {
  transform: rotate(0deg);
}
.numbers li:nth-child(2) {
  transform: rotate(-36deg);
}
.numbers li:nth-child(3) {
  transform: rotate(-72deg);
}
.numbers li:nth-child(4) {
  transform: rotate(-108deg);
}
.numbers li:nth-child(5) {
  transform: rotate(-144deg);
}
.numbers li:nth-child(6) {
  transform: rotate(-180deg);
}
.numbers li:nth-child(7) {
  transform: rotate(-216deg);
}
.numbers li:nth-child(8) {
  transform: rotate(-252deg);
}
.numbers li:nth-child(9) {
  transform: rotate(-288deg);
}
.numbers li:nth-child(10) {
  transform: rotate(-324deg);
}
.numbers.hours li span {
  color: #76b041;
}
.numbers.minutes li span {
  color: #17bebb;
}
.numbers.seconds li span {
  color: #ffc914;
}


.ror1 {
	padding:0;
	margin:0;	
}

.ror-all {
	background-image: url('../images/ror1.png'),
	url('../images/ror2.png'),
	url('../images/ror3.png'),
	url('../images/ror3.png'),
	url('../images/ror4.png'),
	url('../images/ror5.png');
	background-position: top center,top center,top center,top center,top center;
	background-size: contain,contain,contain,contain,contain;
	transform: rotate(0.0001deg);
}

.ror-all img {
	opacity: 0;
}

/* Обстановка кабинета Главврача */
.cabinet {
	background-image: url('../images/cabinet.jpg');
}

/* Дизайн медицинской карты */
.card {
	background-image: url('../images/registratura.jpg');
}

@media all and (max-device-width: 800px) {
	.anons {background-size: 135%;}
	.header {padding-top: 5vh !important; font-size: 32px;}
	.hint {width: 95%; margin-left:auto; margin-right: auto; font-size: 18px;}
	.tv1 .wrap .header {padding-top: 45vh !important;	}
	.tv2 .wrap .header {padding-top: 45vh !important;	}
	.codeinput {line-height: 28px; font-size: 20px; border-radius: 16px;};
	.bedlam2 {background-position: 12% center;};
	.bedlam3 {background-position: 75% center;};
	.oracle {background-position: 75% center;}
	.cabinet {background-position: 75% center;}
	.lobotomia {background-position: 75% top;} 	 	 	
	.tv1 {background-position: 65% top;} 	 	 	
	.tv2 {background-position: 65% top;} 	 	 	
}

@media all and  (orientation: landscape) and (max-device-width: 1000px) {
	.anons {background-size: 75%;}
	.header {padding-top: 5vh !important; font-size: 32px;}
	.hint {width: 95%; margin-left:auto; margin-right: auto; font-size: 18px;}
	.xakep .wrap .header {padding-top: 40vh !important;}
	.codeinput {line-height: 28px; font-size: 20px; border-radius: 16px;}; 		
}

@media all and  (orientation: portrait) and (max-device-width: 800px) {
	.rgb { height: 252px}
	.rgb img {width: 360px !important; height: 252px;}
	.lupa {width: 90%; height:90%; background-size: contain; background-position:center;}
}